* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.service {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 5%; 
    justify-content: center;
    
   
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;

}