/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION */
.skill {
    width: 100%;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* CONTAINER DOS CARDS */
.container-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* FUNDAMENTAL */
}

/* CARD */
.container-cards {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
}

/* ÍCONE */
.icon {
    color: #2563eb;
    font-size: 30px;
}

/* TÍTULO */
.title-tech {
    font-size: 24px;
    font-weight: 400;
}

/* DESCRIÇÃO */
.container-description {
    font-size: 16px;
    color: #4b5563;
}

/* TAGS */
.container-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; /* evita quebrar layout */
}

.container-tags span {
    background-color: #e5e7eb;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
}

/* MOBILE */
@media (max-width: 768px) {
    .skill {
        padding: 60px 5%;
    }

    .container-card {
        gap: 20px;
    }

    .container-cards {
        max-width: 100%;
    }
}
