
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.skill {
    width: 100%;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.container-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
}

/* CARD */
.container-cards {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
}

.container-cards-titles {
    display: flex;
    
}
.container-cards-titles .icon{
  
    display: flex;
}

.container-cards-titles svg {
    padding: 0;
    padding-right: 10px;
    margin: 0;
}


.icon {
    color: #2563eb;
    font-size: 30px;
    font-weight: 400;
}


.title-tech {
    font-size: 24px;
    font-weight: 400;
}


.container-description {
    font-size: 16px;
    padding-left: 5px;
    color: #4b5563;
}


.container-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; 
}

.container-tags span {
    background-color: #e5e7eb;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
}


@media (max-width: 768px) {
    .skill {
        padding: 60px 5%;
    }

    .container-card {
        gap: 20px;
    }

    .container-cards {
        max-width: 100%;
    }
}
