* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.service {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    
   
}

.container-header-service h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;

}
.container-header-service p {
    color: #4b5563;
    text-align: center;
    margin-bottom: 50px;


}

.container-card {

    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 15px 20px 20px 15px;
}

.icon {
    color: #2563eb;
    font-size: 30px;
}

.title-tech {
    font-size: 24px;
    font-weight: 400;
}

.container-description {
    font-size: 16px;
    color: #4b5563;
}

.container-tags {
    display: flex;
    gap: 10px;
    font-size: 12px;
}
.container-tags span {
    background-color: #e5e7eb;
    padding: 5px;
    border-radius: 8px;
}