.contact {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    width: 100%;
    height: 80vh;
    
}

.contact-form {
    width: 90%;
}

.title-form {
    font-size: 16px;
    margin-bottom: 10px;
}

.paragraph-form{

    font-size: 14px;
    margin-bottom: 10px;
    color: #4b5563;

}

.container-contactAll{
    display: flex;
}

.container-form-contact {
    width: 90%;
    height: auto;

}

.container-input {
    display: flex;
    flex-direction: column;
    
}


.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 15px 0px 15px 0px;

}

.container-contactAll {
    display: flex;
    width: 70%;
    height: 360px;
    gap: 80px;

}
.container-contact-infos {
    width: 50%;
    height: 360px;
}

.container-info {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 15px 20px 15px 20px;
    width: 90%;
    height: 100px;
    margin-bottom: 30px;
}


.inputLabel {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 500;
}

.inputForm {
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e5e7eb;
}

.inputForm.textarea {
    height: 70px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.inputForm:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e5e7eb;
}

.container-icon {
    display: flex;
    font-size: 24px;
    height: 60px;
    width: 40px;
    color: #2563eb;
}

.title-info {
    font-size: 16px;
    margin-bottom: 15px;
    color: #030213;
}
.paragraph-info {
    color: #4b5563;
}

@media (max-width: 768px) {
  .contact {
    height: auto;
    padding: 60px 5%;
  }
  
  .container-contactAll {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 40px;
  }
  
  .container-form,
  .container-contact-infos {
    width: 100%;
  }
  
  .container-info {
    width: 100%;
  }
  
  .container-header-section h1 {
    font-size: 28px;
  }
  
  .container-header-section p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .inputForm.textarea {
    width: 100%;
  }
}





