* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid #e5e7eb;
}

.container-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-header a {
    text-decoration: none;
    color: #111827;
    font-size: 20px;
    font-weight: 400;
}
.container-header a:hover {
    color: #60a5fa;
} 

.code-icon {
    color: #2563eb;
    font-size: 30px;
    margin: 0;
    padding: 1px;

}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


.menu-toggle {
    display: none;
}

.mobile-nav {
    display: none;
}


@media (max-width: 768px) {
    .header {
        padding: 0 5%;
    }

    .container-header a:hover {
        color: #111827;
    } 

    .desktop-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 26px;
        color: #2563eb;
        cursor: pointer;
    }

    .mobile-nav {
        position: fixed;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #ffffff;
        display: none;
        flex-direction: column;
        padding: 20px;
        border-top: 1px solid #e5e7eb;
        z-index: 999;
    }

    .mobile-nav.active {
        display: flex;

    }

    .mobile-nav .btn {
        width: 100%;
        text-align: left;
        padding: 12px 0;
        font-size: 16px;
        background-color: transparent;
        color: #111827;
    }

    .mobile-nav .btn:last-child {
        border-bottom: none;
    }
    .mobile-nav.btn:hover {
        color: #2563eb;
    }
    
}
