* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    padding-left: 20%;
    align-items: center;
    background: linear-gradient(to bottom, #eff6ff 60%, #ffffff 100%);
    height: 100vh;
    width: 100%;
}

.container-hero {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.container-apresentacao h1{
    color: #111827;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 20px;
    & strong {
        color: #2563eb;
        font-weight: 400;
    }
}

.container-apresentacao h2{
    color: #4b5563;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-apresentacao p{
    color: #4b5563;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}



.container-links {
    display: flex;
    gap: 30px;
    text-align: center;
}

.container-links a{
    
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
}


.container-redes {
    display: flex;
    gap: 20px;
    width: auto;
    color: red;
    padding-top: 30px;
    font-size: 25px;
}

.container-redes a {
    color: #374151;
}

.container-redes a:hover {
    color: #2563eb;
    opacity: 0.9;
}

.container-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-effect {
    position: absolute;
    inset: 0;       
    margin: auto;   
    width: 350px;
    height: 350px;
    background-color: #2563eb;
    border-radius: 50%;
    filter: blur(70px);
    opacity: 0.20;
    z-index: 0;
}

.hero-img {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}


