footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #111827;
    padding: 0 10% 0 10%;
    color: #ffffff;
}

.container-footer {
    padding-top: 30px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.title-footer {
    font-size: 18px;
}

.paragraph-footer {
    color: #9ca3af;
    font-size: 14px;
}


.code-icon-footer {
    color: #60a5fa;
    font-size: 24px;
}

.container-linksRapidos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container-redesSociais {
    display: flex;
    flex-direction: column;
}

.container-rede-footer {
    display: flex;
    text-decoration: none;
    gap: 15px;
    margin-top: 10px;
    font-size: 24px;
}

.container-rede-footer a {
    color: #9ca3af;
}

.container-rede-footer a:hover {
    color: #60a5fa;
}



.container-part1, .container-part2, .container-part3 {
    width: 33%;
}
.container-part4 {
    border-top: 1px solid #1f2937;
    margin-top: 15px;
    height: auto;
    width: 60%;
    text-align: center;
}

.container-copyright {
    margin-top: 15px;
    font-size: 12px;
    color: #9ca3af;
}

@media (max-width: 768px) {
  footer {
    height: auto;
    padding: 40px 5%;
  }
  
  .container-footer {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  
  .container-part1,
  .container-part2,
  .container-part3 {
    width: 100%;
  }
  
  .container-linksRapidos {
    align-items: center;
  }
  
  .container-redesSociais {
    align-items: center;
  }
  
  .container-part4 {
    width: 100%;
    margin-top: 30px;
  }
}





