* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}
.container-header-section {
    display: flex;
    flex-direction: column;
}
.container-header-section h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.container-header-section p {
    color: #4b5563;
    text-align: center;
    margin-bottom: 50px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.container-descriptionProject {
    color: #4b5563;
    font-size: 14px;
    margin-bottom: 10px; 
    flex-grow: 1;
}

.container-projects {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-cardProjects {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 550px; 
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    position: relative;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img.abrace-back {
    
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 100px;
}


.title-project, 
.container-descriptionProject, 
.container-tags-wrapper {
    padding: 10px 25px; 
}


.container-tags-wrapper {
    position: relative;
    min-height: 60px;
    padding-bottom: 15px;
}

.container-tags-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 10px 15px 0px 10px;
    min-height: 32px;
}

.tags-portfolio {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    color: #374151;
}

.tags-carousel-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    pointer-events: none;
}

.tags-prev, .tags-next {
    border: none;
    background: transparent;
    padding: 15px 15px 15px 15px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    pointer-events: all;
    z-index: 10;
}

.tags-prev:hover, .tags-next:hover {
    color: #030213;
}


.container-linkProjects {
    display: flex;
    gap: 10px;
    padding: 25px; 
}

.linkDemo, .linkGit {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.linkDemo {
    background-color: #ffffff;
    color: #374151; 
}

.linkDemo.noLink{
    display: none;
}


.linkGit {
    background-color: #ffffff;
    color: #374151; 
}

.linkGit:hover {
    background-color: #f9fafb;
    border-color: #d1d5db;
}
.linkDemo:hover {
    background-color: #f9fafb;
    border-color: #d1d5db;
}